include header
.container
	.row
		.span12
			- if (typeof(locals.query.warning) != 'undefined')
				.alert.alert-warning 
					strong= locals.query.warning
			h1=page.title
			hr
			for post in blogposts
				.row
					.span6
						h3.blog-title=post.title
						div.blog-text=post.content
						br
				.row
					.span1
						form(action="#{locals.host}/admin/posts/edit", method="get")
							input(type="hidden", name="post_id", value=post._id)
							input.btn.btn-small.btn-warning(type="submit", value="Edit Post")
					.span1	
						form(action="#{locals.host}/admin/posts/delete", method="post")
							input(type="hidden", name="post_id", value=post._id)
							input.btn.btn-small.btn-danger(type="submit", value="Delete Post")
				hr