include header
.container
	.row
		.span12
			- if (typeof(locals.query.warning) != 'undefined')
				.alert.alert-warning 
					strong= locals.query.warning
			h1=page.title
			a.btn.btn-white(href="/admin/posts/addnew") Add new Post
			hr
			for post in blogposts
				.row
					.span6
						h3= post.title
						p
							i posted #{post.date}
					.margin-10
					.span1
						form(action="#{locals.host}/admin/posts/edit", method="get")
							input(type="hidden", name="post_id", value=post._id)
							input.btn.btn-small.btn-warning(type="submit", value="Edit Post")
					.span1	
						form(action="#{locals.host}/admin/posts/delete", method="post")
							input(type="hidden", name="post_id", value=post._id)
							input.btn.btn-small.btn-danger(type="submit", value="Delete Post")
				hr